<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="notes.stormpath.com.stormpathnotes">

<application
        android:name=".NotesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity
            android:name=".NotesActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name="com.stormpath.sdk.ui.StormpathLoginActivity"
              android:theme="@style/AppTheme.NoActionBar"
              android:windowSoftInputMode="stateHidden|adjustResize">
        <meta-data
                android:name="StormpathLoginActivity.AUTO_LOGIN_AFTER_REGISTER"
                android:value="true"/>
    </activity>

</application>

</manifest>
